//resets
body, ul, li, ol, dd, dt, h1, h2, h3, h4, h5, h6, table, tr, th, td {
    margin: 0;
    padding: 0;
}

table {
    /*border-collapse:collapse;
    border-spacing:0;*/
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

%clearfix {
    &:after {
        display: block;
        content: '';
        clear: both;
        font-size: 1px;
        line-height: 1px;
    }
}

%elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

//common
* {
    @include boxSizing;
}

body, html {
    height: 100%;
    width: 100%;
}

.left {
    display: inline-block;
    float: left;
}

.right {
    display: inline-block;
    float: right;
}

body {
    color: $blueMedium;
    padding-top: 50px;
    //background: url("#{$imgUrl}subtle_dots.png");
    background: url("#{$imgUrl}crowd.jpg") center top no-repeat, black;
    -webkit-overflow-scrolling: scroll;
}

h1 {
    margin: 30px 0 10px;
    font-size: 30px;
    font-family: 'Orbitron', Helvetica, sans-serif;
}

main {
    overflow-y: auto;
}

select, option {
    cursor: pointer;
}

//loading
#loading {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba($blueDark, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    text-align: center;
}

.fa-spinner {
    margin: 80% auto 0;
    font-size: 60px;
    animation: rotator 2s linear infinite;
    -webkit-animation: rotator 2s linear infinite;
    opacity: 0.6;
}

.dim-widget {
    height: 100%;
    width: 100%;
    max-width: 700px;
    text-align: center;
    position: fixed;
    background: rgba($blueDark, 0.8);
    z-index: 3;

    .fa-spinner {
        margin: 42% auto 0;
    }
}

.main-container {
    width: 700px;
    margin: auto;
}

.main-footer {
    position: absolute;
    height: 30px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $blueDark;
    border-color: darken($blueDark, 10%);
    font-size: 18px;

    i {
        padding: 6px 9px 0 9px;

        &:hover {
            color: lighten($blueMedium, 20%);
        }
    }
}

.filter-group {
    margin: 5px 0;

    select {
        //opacity: 0.1;
        /* -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; */
        padding: 5px;
        margin-right: 5px;
        border: none;
        background: $blueDark;
    }
}

.round {
    text-align: center;
    padding: 5px;
    font-weight: bold;
    color: lighten($blueMedium, 20%);
    border-top: 2px solid $blueDark;
    border-bottom: 2px solid $blueDark;
}

.events-list {
    box-shadow: 0 3px 200px 1px black;

    > div {
        &:not(.round) {
            background: rgba(white, 0.1);
            color: lighten($blueMedium, 10%);

            &:nth-of-type(even) {
                background: rgba(black, 0.2);
                color: $blueMedium;
            }
        }

        &.round {
            background: rgba(black, 0.5);
        }
    }
}

.event-row {
    @extend %clearfix;
    padding: 5px;

    > div {
        float: left;

        &.name {
            @extend %elipsis;
            width: 40%;
        }

        &.score {
            width: 9.99%;
        }

        &:nth-child(2), &:nth-child(3) {
            text-align: center;
        }

        &:nth-child(4) {
            text-align: right;
        }
    }
}

.league-table {
    width: 700px;

    tr {
        td, th {
            padding: 5px;

            &:first-of-type {
                text-align: center;
                opacity: 0.8;
                //border-radius: 50%;
                width: 30px;
                line-height: 20px;
            }

            &.name {
                @extend %elipsis;
            }
        }
    }
}

.legend-table {
    margin-top: 20px;
    font-size: 10px;

    thead {
        tr {
            border: none !important;
        }
    }

    tr {
        td, th {
            padding: 3px;

            &:first-of-type {
                max-width: 20px;
                opacity: 0.8;
            }
        }
    }
}

.chl, .chl-q, .le, .le-q, .relegation {
    color: white;
}

.chl {
    background: darken($blueDark, 5%);
}

.chl-q {
    background: $blueMedium;
}

.le {
    background: lighten($blueMedium, 10%);
}

.le-q {
    background: lighten($blueMedium, 20%);
}

.relegation {
    background: $red;
}

.navbar-inverse {
    background-color: $blueDark;
    border-color: darken($blueDark, 10%);
}

.navbar-inverse .navbar-nav > li > a {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: $blueMedium;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: $red;
    background-color: darken($blueDark, 10%);
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar > .container .navbar-brand:focus,
.navbar > .container .navbar-brand:hover,
.navbar > .container-fluid .navbar-brand:hover {
    color: lighten($blueMedium, 20%);
}

.navbar-inverse .navbar-brand {
    color: $blueMedium;
}

.table-striped > thead > tr {
    background-color: rgba(black, 0.9);
    border-top: 2px solid $blueDark;
    border-bottom: 2px solid $blueDark;
}

.table-striped > tbody > tr {
    background-color: rgba(white, 0.1);
    color: lighten($blueMedium, 10%);
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(black, 0.3);
    color: $blueMedium;
}

//keyframes
@keyframes rotator {
    0% {
        transform: rotate(0deg) scale(0.5);
    }

    50% {
        transform: rotate(180deg) scale(0.8);
    }

    100% {
        transform: rotate(360deg) scale(0.5);
    }
}


@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg) translateZ(0) scale(0.5);
    }

    50% {
        -webkit-transform: rotate(180deg) translateZ(0) scale(0.7);
    }

    100% {
        -webkit-transform: rotate(360deg) translateZ(0) scale(0.5);
    }
}