@media all and (max-width: 700px) {
    .main-container {
        width: 100%;
    }

    .league-table {
        width: 100%;
    }
}

@media all and (max-width: 640px) {
    table {
        .name {
            max-width: 133px;
        }
    }
}